Repository ARM-software/SCP-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com, deepak.pandey@arm.com, chandni.cherukuri@arm.com, thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com, masahisa.kojima@linaro.org, tintu.thomas@arm.com, quockhanh.le@arm.com, nroyer@baylibre.com, vincent.guittot@linaro.org, etienne.carriere@st.com

.github/CODEOWNERS:

#
# Core maintainers
#

* tarek.el-sherbiny@arm.com girish.pathak@arm.com leandro.belli@arm.com ahmed.gadallah@arm.com mohamed.omarasaker@arm.com wenping.teh@arm.com

#
# Platform maintainers
#

/product/morello/ deepak.pandey@arm.com chandni.cherukuri@arm.com
/product/neoverse-rd/ thomas.abraham@arm.com vijayenthiran.subramaniam@arm.com
/product/synquacer/ masahisa.kojima@linaro.org
/product/totalcompute/ tintu.thomas@arm.com quockhanh.le@arm.com
/product/rcar/ nroyer@baylibre.com
/product/optee/ vincent.guittot@linaro.org etienne.carriere@st.com

product/synquacer: Resolve defect with cppcheck V2.8
  product/synquacer/module/synquacer_memc/src/ddr_init.c
  product/synquacer/module/synquacer_system/src/synquacer_main.c
Owners: masahisa.kojima@linaro.org

cmn700: Refines conditional check flow in `is_hnf_inside_rect()`
  module/cmn700/src/mod_cmn700.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod_sensor: Refine sensor_enable/disable and fix potential defects.
  module/sensor/include/mod_sensor.h
  module/sensor/src/mod_sensor.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

cppcheck: Update guide, wrapper and suppression list
  docker/Dockerfile
  tools/cppcheck_suppress_list.txt
  tools/cppcheck_wrapper.py
  user_guide.md
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

fwk: Resolve defect with cppcheck V2.8
  framework/src/fwk_delayed_resp.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci: Add default for untagged jobs
  .gitlab/.gitlab-ci.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

cppcheck: Modify suppression list for cppcheck 2.8 landing
  tools/cppcheck_suppress_list.txt
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

cppcheck: Update suppression list for version change
  tools/cppcheck_suppress_list.txt
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

scmi_power_domain: Add agent context handling in scmi_power_domain
  doc/build_system.md
  framework/CMakeLists.txt
  module/scmi_power_domain/include/mod_scmi_power_domain.h
  module/scmi_power_domain/src/mod_scmi_power_domain.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

juno: Add per agent mapping in SCMI Power protocol
  product/juno/scp_ramfw/config_scmi_power_domain.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

scmi_power_domain: Add unit tests for per agent mapping
  module/scmi_power_domain/test/CMakeLists.txt
  module/scmi_power_domain/test/config_scmi_power_domain_ut.h
  module/scmi_power_domain/test/mocks/Mockmod_scmi_power_domain_extra.c
  module/scmi_power_domain/test/mocks/Mockmod_scmi_power_domain_extra.h
  module/scmi_power_domain/test/mod_scmi_power_domain_extra.h
  module/scmi_power_domain/test/mod_scmi_power_domain_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/pl011: Introduce a check to ensure the module is initalised prior to printing
  module/pl011/src/mod_pl011.c
  module/pl011/test/mod_pl011_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/gtimer: return 0 if timestamp registers uninitalised
  module/gtimer/src/mod_gtimer.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/gtimer: add unit tests for the change to timestamps
  module/gtimer/test/CMakeLists.txt
  module/gtimer/test/fwk_module_idx.h
  module/gtimer/test/mod_gtimer_unit_test.c
  unit_test/CMakeLists.txt
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics_analyzer/test: Add power mgmt APIs mocks
  module/metrics_analyzer/test/config_metrics_analyzer.h
  module/metrics_analyzer/test/mocks/Mockmod_metrics_analyzer_extra.c
  module/metrics_analyzer/test/mocks/Mockmod_metrics_analyzer_extra.h
  module/metrics_analyzer/test/mod_metrics_analyzer_extra.h
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics_analyzer: Add element configuration
  module/metrics_analyzer/include/mod_metrics_analyzer.h
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics_analyzer/test: Add a test configuration
  module/metrics_analyzer/test/config_metrics_analyzer.h
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

interface/power_management: Add power related Macros
  interface/power_management/interface_power_management.h
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics_analyzer/doc: Add metrics analyzer doc
  module/metrics_analyzer/doc/metrics_analyzer.md
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

interface/power_management: Add get limit API
  interface/power_management/interface_power_management.h
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics_analyzer: Add initial module files
  module/metrics_analyzer/CMakeLists.txt
  module/metrics_analyzer/Module.cmake
  module/metrics_analyzer/include/mod_metrics_analyzer.h
  module/metrics_analyzer/src/mod_metrics_analyzer.c
  module/metrics_analyzer/test/CMakeLists.txt
  module/metrics_analyzer/test/config_metrics_analyzer.h
  module/metrics_analyzer/test/fwk_module_idx.h
  module/metrics_analyzer/test/mocks/.clang-format
  module/metrics_analyzer/test/mod_metrics_analyzer_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics_analyzer: Add module/domain ctx definitions
  module/metrics_analyzer/src/mod_metrics_analyzer.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics_analyzer: Implement framework handlers
  module/metrics_analyzer/include/mod_metrics_analyzer.h
  module/metrics_analyzer/src/mod_metrics_analyzer.c
  module/metrics_analyzer/test/CMakeLists.txt
  module/metrics_analyzer/test/mod_metrics_analyzer_unit_test.c
  unit_test/CMakeLists.txt
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics_analyzer: Combine collection and evaluation
  module/metrics_analyzer/src/mod_metrics_analyzer.c
  module/metrics_analyzer/test/mod_metrics_analyzer_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics_analyzer: Implement analysis logic
  module/metrics_analyzer/src/mod_metrics_analyzer.c
  module/metrics_analyzer/test/mod_metrics_analyzer_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics_analyzer: Add boundry check for subelement count
  module/metrics_analyzer/src/mod_metrics_analyzer.c
  module/metrics_analyzer/test/mod_metrics_analyzer_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics_analyzer: Add No power limit test case
  module/metrics_analyzer/test/mod_metrics_analyzer_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

neoverse-rd/rdfremont: Add dvfs_handler driver
  product/neoverse-rd/rdfremont/module/dvfs_handler/CMakeLists.txt
  product/neoverse-rd/rdfremont/module/dvfs_handler/Module.cmake
  product/neoverse-rd/rdfremont/module/dvfs_handler/doc/dvfs_handler.md
  product/neoverse-rd/rdfremont/module/dvfs_handler/include/internal/dvfs_handler_reg.h
  product/neoverse-rd/rdfremont/module/dvfs_handler/include/mod_dvfs_handler.h
  product/neoverse-rd/rdfremont/module/dvfs_handler/src/mod_dvfs_handler.c
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

neoverse-rd/rdfremont: remove use of non-secure LCP's ITCM and DTCM memory regions
  product/neoverse-rd/rdfremont/lcp_ramfw/include/fmw_memory.h
  product/neoverse-rd/rdfremont/lcp_ramfw/include/lcp_css_mmap.h
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

neoverse-rd/rdfremont: reorganize lcp include files
  product/neoverse-rd/rdfremont/lcp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdfremont/lcp_ramfw/config_armv8m_mpu.c
  product/neoverse-rd/rdfremont/lcp_ramfw/config_mhu3.c
  product/neoverse-rd/rdfremont/lcp_ramfw/config_pl011.c
  product/neoverse-rd/rdfremont/lcp_ramfw/config_transport.c
  product/neoverse-rd/rdfremont/lcp_ramfw/fmw_cmsis.h
  product/neoverse-rd/rdfremont/lcp_ramfw/include/fmw_arch.h
  product/neoverse-rd/rdfremont/lcp_ramfw/include/fmw_cmsis.h
  product/neoverse-rd/rdfremont/lcp_ramfw/include/fmw_io.h
  product/neoverse-rd/rdfremont/lcp_ramfw/include/fmw_memory.h
  product/neoverse-rd/rdfremont/lcp_ramfw/include/fmw_notification.h
  product/neoverse-rd/rdfremont/lcp_ramfw/include/lcp_css_mmap.h
  product/neoverse-rd/rdfremont/lcp_ramfw/include/lcp_device.h
  product/neoverse-rd/rdfremont/lcp_ramfw/include/lcp_mhu3.h
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

neoverse-rd/rdfremont: reduce LCP's DTCM size to 32KB
  product/neoverse-rd/rdfremont/lcp_ramfw/include/lcp_css_mmap.h
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

neoverse-rd/rdfremont: fix AP-LCP MHU instance base address
  product/neoverse-rd/rdfremont/lcp_ramfw/include/lcp_css_mmap.h
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

neoverse-rd/rdfremont: update mhu3 module config data in lcpfw
  product/neoverse-rd/rdfremont/lcp_ramfw/config_mhu3.c
  product/neoverse-rd/rdfremont/lcp_ramfw/config_transport.c
  product/neoverse-rd/rdfremont/lcp_ramfw/include/lcp_mhu3.h
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

neoverse-rd/rdfremont: update transport module config data in lcpfw
  product/neoverse-rd/rdfremont/lcp_ramfw/Firmware.cmake
  product/neoverse-rd/rdfremont/lcp_ramfw/config_transport.c
  product/neoverse-rd/rdfremont/lcp_ramfw/include/lcp_platform_transport.h
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

neoverse-rd/rdfremont: remove use of FMW_DISABLE_ARCH_SUSPEND for lcpfw
  product/neoverse-rd/rdfremont/lcp_ramfw/include/fmw_arch.h
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

neoverse-rd/rdfremont: add custom banner for lcpfw
  product/neoverse-rd/rdfremont/lcp_ramfw/include/fmw_log.h
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

neoverse-rd/rdfremont: enable support for dvfs-handler in lcpfw
  product/neoverse-rd/rdfremont/lcp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdfremont/lcp_ramfw/Firmware.cmake
  product/neoverse-rd/rdfremont/lcp_ramfw/config_dvfs_handler.c
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

toolchain: Add cortex-M85 support
  CMakeLists.txt
  arch/arm/arm-m/CMakeLists.txt
  arch/arm/arm-m/src/arch_nvic.c
  cmake/Toolchain/Clang-Baremetal.cmake
  cmake/Toolchain/GNU-Baremetal.cmake
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

prod/cmake: fix a comment for all products
  product/juno/scp_ramfw/CMakeLists.txt
  product/juno/scp_romfw/CMakeLists.txt
  product/juno/scp_romfw_bypass/CMakeLists.txt
  product/morello/mcp_ramfw_fvp/CMakeLists.txt
  product/morello/mcp_ramfw_soc/CMakeLists.txt
  product/morello/mcp_romfw/CMakeLists.txt
  product/morello/scp_ramfw_fvp/CMakeLists.txt
  product/morello/scp_ramfw_soc/CMakeLists.txt
  product/morello/scp_romfw/CMakeLists.txt
  product/n1sdp/mcp_ramfw/CMakeLists.txt
  product/n1sdp/mcp_romfw/CMakeLists.txt
  product/n1sdp/scp_ramfw/CMakeLists.txt
  product/n1sdp/scp_romfw/CMakeLists.txt
  product/neoverse-rd/rdfremont/scp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdn1e1/mcp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdn1e1/mcp_romfw/CMakeLists.txt
  product/neoverse-rd/rdn1e1/scp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdn1e1/scp_romfw/CMakeLists.txt
  product/neoverse-rd/rdn2/mcp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdn2/mcp_romfw/CMakeLists.txt
  product/neoverse-rd/rdn2/scp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdn2/scp_romfw/CMakeLists.txt
  product/neoverse-rd/rdv1/mcp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdv1/mcp_romfw/CMakeLists.txt
  product/neoverse-rd/rdv1/scp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdv1/scp_romfw/CMakeLists.txt
  product/neoverse-rd/rdv1mc/mcp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdv1mc/mcp_romfw/CMakeLists.txt
  product/neoverse-rd/rdv1mc/scp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdv1mc/scp_romfw/CMakeLists.txt
  product/rcar/scp_ramfw/CMakeLists.txt
  product/synquacer/scp_ramfw/CMakeLists.txt
  product/synquacer/scp_romfw/CMakeLists.txt
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com, deepak.pandey@arm.com, chandni.cherukuri@arm.com, thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com, nroyer@baylibre.com, masahisa.kojima@linaro.org

mod/scmi_perf: integrate SCMI perf with perf_controller
  module/scmi_perf/CMakeLists.txt
  module/scmi_perf/include/internal/scmi_perf.h
  module/scmi_perf/src/mod_scmi_perf.c
  module/scmi_perf/test/fastchannels/fwk_module_idx.h
  module/scmi_perf/test/module/fwk_module_idx.h
  module/scmi_perf/test/module/mod_scmi_perf.cmake
  module/scmi_perf/test/plugins_handler/fwk_module_idx.h
  module/scmi_perf/test/plugins_handler/mod_scmi_perf_ph.cmake
  module/scmi_perf/test/protocol/fwk_module_idx.h
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com
