Repository ARM-software/SCP-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com, deepak.pandey@arm.com, chandni.cherukuri@arm.com, thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com, masahisa.kojima@linaro.org, tintu.thomas@arm.com, quockhanh.le@arm.com, nroyer@baylibre.com, vincent.guittot@linaro.org, etienne.carriere@st.com

Add perf_controller module
  module/CMakeLists.txt
  module/perf_controller/CMakeLists.txt
  module/perf_controller/Module.cmake
  module/perf_controller/include/internal/perf_controller.h
  module/perf_controller/include/mod_perf_controller.h
  module/perf_controller/src/mod_perf_controller.c
  module/perf_controller/test/.clang-format
  module/perf_controller/test/CMakeLists.txt
  module/perf_controller/test/fwk_module_idx.h
  module/perf_controller/test/mod_perf_controller_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/dvfs: integrate with perf_controller
  module/dvfs/CMakeLists.txt
  module/dvfs/include/mod_dvfs.h
  module/dvfs/src/mod_dvfs.c
  module/dvfs/test/CMakeLists.txt
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/perf_controller: add set_limit and controller_update apis
  module/perf_controller/CMakeLists.txt
  module/perf_controller/include/internal/perf_controller.h
  module/perf_controller/include/mod_perf_controller.h
  module/perf_controller/src/mod_perf_controller.c
  module/perf_controller/test/CMakeLists.txt
  module/perf_controller/test/config_mod_perf_controller.h
  module/perf_controller/test/fwk_module_idx.h
  module/perf_controller/test/mocks/.clang-format
  module/perf_controller/test/mocks/Mockmod_perf_controller_extra.c
  module/perf_controller/test/mocks/Mockmod_perf_controller_extra.h
  module/perf_controller/test/mocks/fwk_variables_mocks.c
  module/perf_controller/test/mod_perf_controller_extra.h
  module/perf_controller/test/mod_perf_controller_fwk_unit_test.c
  module/perf_controller/test/mod_perf_controller_unit_test.c
  unit_test/CMakeLists.txt
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

totalcompute: Remove deprecated files from tc0 and tc1
  product/tc0/scp_ramfw/config_scmi_perf.c
  product/totalcompute/tc1/scp_ramfw/config_scmi_perf.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com, tintu.thomas@arm.com, quockhanh.le@arm.com

threat model: Add scope section and update the trusted boundary
  doc/scp_firmware_threat_model.md
  doc/threat_model/Threat_model.drawio.svg
  doc/threat_model/Threat_model.drawio.xml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics_analyzer/test: fix loop ctrl variable in UT initialization
  module/metrics_analyzer/test/mod_metrics_analyzer_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/setup-workspace: Add an expire_in value
  .gitlab/templates/setup-workspace.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

requirements.txt: Add lcov-cobertura library
  requirements.txt
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/filter: Filter cmock and cmsis from coverage report
  tools/filter_coverage_report.py
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/ut: Merge UT coverage report
  .gitlab/pipelines/daily-pipeline.yml
  .gitlab/pipelines/deployment-pipeline.yml
  .gitlab/templates/unit-test.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/scmi: Enable scmi-tester code coverage
  .gitlab/templates/scmi-test.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/coverage: Add template to merge coverage report
  .gitlab/templates/merge-report.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/coverage: Merge all coverage report
  .gitlab/pipelines/daily-pipeline.yml
  .gitlab/pipelines/deployment-pipeline.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/platform-test: Update artifact path location for `fvp-boot-test`
  .gitlab/templates/platform-test.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/daily-pipeline: add `fvp-boot-test` to coverage report
  .gitlab/pipelines/daily-pipeline.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/deployment-pipeline: add FVP boot coverage data to report
  .gitlab/pipelines/deployment-pipeline.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

juno: Fix redundant check in mod_juno_reset_domain
  product/juno/module/juno_reset_domain/src/mod_juno_reset_domain.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/build: Build OPTEE with SCP
  .gitlab/pipelines/daily-pipeline.yml
  .gitlab/pipelines/deployment-pipeline.yml
  .gitlab/templates/build-test.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/platform-test: fix stage definition in template and add retries value
  .gitlab/templates/platform-test.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

fwk/macros: Add a check alignment macro
  framework/include/fwk_macros.h
  framework/test/test_fwk_macros.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

fwk/macros: Add a power of two check macro
  framework/include/fwk_macros.h
  framework/test/test_fwk_macros.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/mpmm: Fix calloc variables size for counters
  module/mpmm/src/mod_mpmm.c
  module/mpmm/test/mod_mpmm_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

tools: Remove Gemfile and Markdownlint
  .mdlrc
  .mdlrc-style.rb
  CMakeLists.txt
  Gemfile
  Gemfile.lock
  cmake/FindMarkdownlint.cmake
  doc/cmake_readme.md
  docker/Dockerfile
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

tools/check_build: move default product build list to a separate directory
  tools/check_build.py
  tools/config/check_build/default_products_build.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

cppcheck: move configuration files to a separate directory
  CMakeLists.txt
  tools/config/cppcheck/.armclang.cppcheck.cfg
  tools/config/cppcheck/.armv6m.cppcheck.cfg
  tools/config/cppcheck/.armv7m.cppcheck.cfg
  tools/config/cppcheck/.armv8m.cppcheck.cfg
  tools/config/cppcheck/.gnu.cppcheck.cfg
  tools/config/cppcheck/cppcheck_suppress_list.txt
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

tools/check_api: move default banned API list to a separate directory
  tools/check_api.py
  tools/config/check_banned_api/default_banned_api.lst
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

product/juno: Fix number of agents in agent table for SCMI clock
  product/juno/scp_ramfw/config_scmi_clock.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

tools: Add parameter to check_build.py for building with specific products
  tools/check_build.py
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

tools: Add unique build directories for each build
  tools/check_build.py
  tools/product.py
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

tools: Add configuration attribute to builds
  tools/product.py
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

framework: update FWK_IS_VALUE_POWER_OF_TWO macro
  framework/include/fwk_macros.h
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics-analyzer: Add module to SCP_MODULE_PATHS
  module/CMakeLists.txt
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics-analyzer: fix argument compatibility
  module/metrics_analyzer/src/mod_metrics_analyzer.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics-analyzer: fix the module name
  module/metrics_analyzer/Module.cmake
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mod/metrics-analyzer: Add missing fwk_id header
  module/metrics_analyzer/include/mod_metrics_analyzer.h
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

scmi_perf: Fixing perf protocol ops unit test build
  module/scmi_perf/test/protocol/mod_scmi_perf_protocol_ops.cmake
  module/scmi_perf/test/protocol/mod_scmi_perf_protocol_ops_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

prod/juno/ramfw: Enable fwk trace
  product/juno/scp_ramfw/CMakeLists.txt
  product/juno/scp_ramfw/config_trace.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

fwk/trace/test: add test to fwk_trace component
  framework/test/CMakeLists.txt
  framework/test/test_fwk_trace.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

fwk/trace: Add tracing mechanism
  framework/CMakeLists.txt
  framework/include/fwk_trace.h
  framework/src/fwk_trace.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

prod/optee: Add fwk_trace to scpfw-path for optee
  product/optee/sub.mk
Owners: vincent.guittot@linaro.org, etienne.carriere@st.com

.github/CODEOWNERS:

#
# Core maintainers
#

* tarek.el-sherbiny@arm.com girish.pathak@arm.com leandro.belli@arm.com ahmed.gadallah@arm.com mohamed.omarasaker@arm.com wenping.teh@arm.com

#
# Platform maintainers
#

/product/morello/ deepak.pandey@arm.com chandni.cherukuri@arm.com
/product/neoverse-rd/ thomas.abraham@arm.com vijayenthiran.subramaniam@arm.com
/product/synquacer/ masahisa.kojima@linaro.org
/product/totalcompute/ tintu.thomas@arm.com quockhanh.le@arm.com
/product/rcar/ nroyer@baylibre.com
/product/optee/ vincent.guittot@linaro.org etienne.carriere@st.com
