Repository ARM-software/SCP-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com, deepak.pandey@arm.com, chandni.cherukuri@arm.com, thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com, masahisa.kojima@linaro.org, tintu.thomas@arm.com, quockhanh.le@arm.com, nroyer@baylibre.com, vincent.guittot@linaro.org, etienne.carriere@st.com

tc: Add configuration for GPU and DPU power domains
  product/totalcompute/common/include/config_power_domain.h
  product/totalcompute/common/scp_ramfw/config_power_domain.c
Owners: tintu.thomas@arm.com, quockhanh.le@arm.com

tc: Enable GPU DVFS
  product/totalcompute/tc2/include/clock_soc.h
  product/totalcompute/tc2/include/scp_mmap.h
  product/totalcompute/tc2/include/tc2_dvfs.h
  product/totalcompute/tc2/include/tc2_mock_psu.h
  product/totalcompute/tc2/include/tc2_psu.h
  product/totalcompute/tc2/include/tc2_timer.h
  product/totalcompute/tc2/scp_ramfw/config_clock.c
  product/totalcompute/tc2/scp_ramfw/config_dvfs.c
  product/totalcompute/tc2/scp_ramfw/config_mock_psu.c
  product/totalcompute/tc2/scp_ramfw/config_psu.c
  product/totalcompute/tc2/scp_ramfw/config_scmi_perf.c
  product/totalcompute/tc2/scp_ramfw/config_system_pll.c
Owners: tintu.thomas@arm.com, quockhanh.le@arm.com

tc: Power off the GPU and DPU
  product/totalcompute/common/scp_ramfw/config_ppu_v1.c
  product/totalcompute/common/scp_ramfw/config_ppu_v1.h
  product/totalcompute/tc2/include/scp_mmap.h
Owners: tintu.thomas@arm.com, quockhanh.le@arm.com

ci/status-report: Add status reporting when an external MR is triggered
  .gitlab/.gitlab-ci.yml
  .gitlab/pipelines/deployment-pipeline.yml
  .gitlab/templates/status-report.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

scmi_validation: scmi clock protocol validation
  module/scmi_clock/src/mod_scmi_clock.c
  module/scmi_clock/test/mocks/Mockmod_scmi_clock_extra.c
  module/scmi_clock/test/mocks/Mockmod_scmi_clock_extra.h
  module/scmi_clock/test/mod_scmi_clock_extra.h
  module/scmi_clock/test/mod_scmi_clock_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

scmi_validation: scmi power capping protocol validation
  module/scmi_power_capping/src/scmi_power_capping_protocol.c
  module/scmi_power_capping/test/CMakeLists.txt
  module/scmi_power_capping/test/mocks/Mockmod_scmi_extra.c
  module/scmi_power_capping/test/mocks/Mockmod_scmi_extra.h
  module/scmi_power_capping/test/mod_scmi_extra.h
  module/scmi_power_capping/test/scmi_power_capping_protocol_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

scmi_validation: scmi sensor protocol validation
  module/scmi_sensor/src/mod_scmi_sensor.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/scmi-test: Update scmi-test to be used externally
  .gitlab/.gitlab-ci.yml
  .gitlab/templates/scmi-test.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

scmi_validation: scmi reset domain protocol validation
  module/scmi_reset_domain/src/mod_scmi_reset_domain.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

scmi_validation: scmi voltage domain protocol validation
  module/scmi_voltage_domain/src/mod_scmi_voltage_domain.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

scmi_validation: scmi power domain protocol validation
  module/scmi_power_domain/src/mod_scmi_power_domain.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

tc2: rename codenamed cores to their product names
  product/totalcompute/tc2/include/clock_soc.h
  product/totalcompute/tc2/include/tc2_amu.h
  product/totalcompute/tc2/include/tc2_dvfs.h
  product/totalcompute/tc2/include/tc2_mock_psu.h
  product/totalcompute/tc2/include/tc2_psu.h
  product/totalcompute/tc2/include/tc2_timer.h
  product/totalcompute/tc2/scp_ramfw/CMakeLists.txt
  product/totalcompute/tc2/scp_ramfw/config_amu_mmap.c
  product/totalcompute/tc2/scp_ramfw/config_clock.c
  product/totalcompute/tc2/scp_ramfw/config_css_clock.c
  product/totalcompute/tc2/scp_ramfw/config_dvfs.c
  product/totalcompute/tc2/scp_ramfw/config_gtimer.c
  product/totalcompute/tc2/scp_ramfw/config_mock_psu.c
  product/totalcompute/tc2/scp_ramfw/config_mpmm.c
  product/totalcompute/tc2/scp_ramfw/config_pik_clock.c
  product/totalcompute/tc2/scp_ramfw/config_psu.c
  product/totalcompute/tc2/scp_ramfw/config_scmi_perf.c
  product/totalcompute/tc2/scp_ramfw/config_sds.c
  product/totalcompute/tc2/scp_ramfw/config_system_pll.c
  product/totalcompute/tc2/scp_ramfw/config_thermal_mgmt.c
  product/totalcompute/tc2/scp_ramfw/config_traffic_cop.c
  product/totalcompute/tc2/scp_romfw/config_clock.c
  product/totalcompute/tc2/scp_romfw/config_cmn_booker.c
  product/totalcompute/tc2/scp_romfw/config_css_clock.c
  product/totalcompute/tc2/scp_romfw/config_gtimer.c
  product/totalcompute/tc2/scp_romfw/config_pik_clock.c
  product/totalcompute/tc2/scp_romfw/config_sds.c
  product/totalcompute/tc2/scp_romfw/config_system_pll.c
Owners: tintu.thomas@arm.com, quockhanh.le@arm.com

ci: Add product unit test to CI
  .gitlab/pipelines/daily-pipeline.yml
  .gitlab/pipelines/deployment-pipeline.yml
  .gitlab/templates/unit-test.yml
  tools/check_utest.py
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

tools: Combine framework and module UT script
  .gitlab/templates/unit-test.yml
  tools/check_framework.py
  tools/check_utest.py
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/fix: clean up unneeded variables and debug commands
  .gitlab/.gitlab-ci.yml
  .gitlab/pipelines/deployment-pipeline.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

tools/check_style: fix typo in return value
  tools/check_style.py
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/linting: add job to check if there is a merge commit
  .gitlab/pipelines/deployment-pipeline.yml
  .gitlab/templates/linting.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

mhuv3: Implement graceful handling for unavailable channel
  module/mhu3/CMakeLists.txt
  module/mhu3/include/mod_mhu3.h
  module/mhu3/src/mod_mhu3.c
  module/mhu3/test/CMakeLists.txt
  module/mhu3/test/fwk_module_idx.h
  module/mhu3/test/mod_mhu3_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: add LCN support in RNSAM
  module/cmn_cyprus/include/internal/cmn_cyprus_common.h
  module/cmn_cyprus/include/internal/cmn_cyprus_reg.h
  module/cmn_cyprus/include/internal/cmn_cyprus_rnsam_reg.h
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/cmn_cyprus_common.c
  module/cmn_cyprus/src/cmn_cyprus_rnsam_reg.c
  module/cmn_cyprus/src/cmn_cyprus_rnsam_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: add support for CPA in RNSAM
  module/cmn_cyprus/include/internal/cmn_cyprus_common.h
  module/cmn_cyprus/include/internal/cmn_cyprus_reg.h
  module/cmn_cyprus/include/internal/cmn_cyprus_rnsam_reg.h
  module/cmn_cyprus/src/cmn_cyprus_rnsam_reg.c
  module/cmn_cyprus/src/cmn_cyprus_rnsam_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: add support for HN-S target type in SCGs
  module/cmn_cyprus/include/internal/cmn_cyprus_rnsam_reg.h
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/cmn_cyprus_rnsam_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: assign expanded RAID for LCN node
  module/cmn_cyprus/include/internal/cmn_cyprus_ccg_ra_reg.h
  module/cmn_cyprus/src/cmn_cyprus_ccg_ra_reg.c
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
  module/cmn_cyprus/src/cmn_cyprus_discovery_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: add support for CCLA direct connect mode
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: add support for secondary SCG regions
  module/cmn_cyprus/include/internal/cmn_cyprus_reg.h
  module/cmn_cyprus/include/internal/cmn_cyprus_rnsam_reg.h
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/cmn_cyprus_rnsam_reg.c
  module/cmn_cyprus/src/cmn_cyprus_rnsam_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: add support for CML SMP mode
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: enable multichip support
  module/cmn_cyprus/CMakeLists.txt
  module/cmn_cyprus/src/mod_cmn_cyprus.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: program HAIDs for multichip
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: initialize ccg table context
  module/cmn_cyprus/include/internal/cmn_cyprus_ctx.h
  module/cmn_cyprus/src/cmn_cyprus_discovery_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: enable HN-S to track remote caching agents
  module/cmn_cyprus/include/internal/cmn_cyprus_hns_reg.h
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
  module/cmn_cyprus/src/cmn_cyprus_hns_reg.c
  module/cmn_cyprus/src/cmn_cyprus_hnsam_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: setup CML RA SAM
  module/cmn_cyprus/include/internal/cmn_cyprus_cml_setup.h
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: add support for multichip config data
  module/cmn_cyprus/include/internal/cmn_cyprus_ctx.h
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/mod_cmn_cyprus.c
  product/neoverse-rd/rdfremont/scp_ramfw/config_cmn_cyprus.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com, thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

module/cmn_cyprus: enable CML protocol link
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: assign RAIDs to requesting agents
  module/cmn_cyprus/include/internal/cmn_cyprus_ctx.h
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
  module/cmn_cyprus/src/cmn_cyprus_discovery_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: add support for CCG node registers
  module/cmn_cyprus/include/internal/cmn_cyprus_ccg_ha_reg.h
  module/cmn_cyprus/include/internal/cmn_cyprus_ccg_ra_reg.h
  module/cmn_cyprus/include/internal/cmn_cyprus_ccla_reg.h
  module/cmn_cyprus/include/internal/cmn_cyprus_common.h
  module/cmn_cyprus/include/internal/cmn_cyprus_reg.h
  module/cmn_cyprus/src/cmn_cyprus_ccg_ha_reg.c
  module/cmn_cyprus/src/cmn_cyprus_ccg_ra_reg.c
  module/cmn_cyprus/src/cmn_cyprus_ccla_reg.c
  module/cmn_cyprus/src/cmn_cyprus_common.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: assign LDIDs for remote caching agents
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: add support for LCN SAM
  module/cmn_cyprus/include/internal/cmn_cyprus_hns_reg.h
  module/cmn_cyprus/include/internal/cmn_cyprus_lcnsam_setup.h
  module/cmn_cyprus/include/internal/cmn_cyprus_rnsam_reg.h
  module/cmn_cyprus/src/cmn_cyprus_hns_reg.c
  module/cmn_cyprus/src/cmn_cyprus_lcnsam_setup.c
  module/cmn_cyprus/src/cmn_cyprus_rnsam_reg.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: update SAM minimum region size
  module/cmn_cyprus/include/internal/cmn_cyprus_common.h
  module/cmn_cyprus/include/internal/cmn_cyprus_hns_reg.h
  module/cmn_cyprus/src/cmn_cyprus_common.c
  module/cmn_cyprus/src/cmn_cyprus_hns_reg.c
  module/cmn_cyprus/src/cmn_cyprus_hnsam_setup.c
  module/cmn_cyprus/src/cmn_cyprus_rnsam_reg.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

rdfremont: add timer id in cmn cyprus config data
  product/neoverse-rd/rdfremont/scp_ramfw/config_cmn_cyprus.c
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

module/cmn_cyprus: enable CCGs to enter coherency domain
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: add support for remote non-hashed regions
  module/cmn_cyprus/include/internal/cmn_cyprus_rnsam_reg.h
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/cmn_cyprus_rnsam_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

.github/CODEOWNERS:

#
# Core maintainers
#

* tarek.el-sherbiny@arm.com girish.pathak@arm.com leandro.belli@arm.com ahmed.gadallah@arm.com mohamed.omarasaker@arm.com wenping.teh@arm.com

#
# Platform maintainers
#

/product/morello/ deepak.pandey@arm.com chandni.cherukuri@arm.com
/product/neoverse-rd/ thomas.abraham@arm.com vijayenthiran.subramaniam@arm.com
/product/synquacer/ masahisa.kojima@linaro.org
/product/totalcompute/ tintu.thomas@arm.com quockhanh.le@arm.com
/product/rcar/ nroyer@baylibre.com
/product/optee/ vincent.guittot@linaro.org etienne.carriere@st.com
