Repository ARM-software/SCP-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com, deepak.pandey@arm.com, chandni.cherukuri@arm.com, thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com, masahisa.kojima@linaro.org, tintu.thomas@arm.com, quockhanh.le@arm.com, nroyer@baylibre.com, vincent.guittot@linaro.org, etienne.carriere@st.com

.github/CODEOWNERS:

#
# Core maintainers
#

* tarek.el-sherbiny@arm.com girish.pathak@arm.com leandro.belli@arm.com ahmed.gadallah@arm.com mohamed.omarasaker@arm.com wenping.teh@arm.com

#
# Platform maintainers
#

/product/morello/ deepak.pandey@arm.com chandni.cherukuri@arm.com
/product/neoverse-rd/ thomas.abraham@arm.com vijayenthiran.subramaniam@arm.com
/product/synquacer/ masahisa.kojima@linaro.org
/product/totalcompute/ tintu.thomas@arm.com quockhanh.le@arm.com
/product/rcar/ nroyer@baylibre.com
/product/optee/ vincent.guittot@linaro.org etienne.carriere@st.com

module/cmn_cyprus: use chip address space offset for multichip
  module/cmn_cyprus/include/internal/cmn_cyprus_common.h
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/cmn_cyprus_hnsam_setup.c
  module/cmn_cyprus/src/cmn_cyprus_rnsam_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: program AgentID-to-LinkID LUT
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: bind to timer API
  module/cmn_cyprus/CMakeLists.txt
  module/cmn_cyprus/include/internal/cmn_cyprus_ctx.h
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/mod_cmn_cyprus.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: bind to system info module API
  module/cmn_cyprus/CMakeLists.txt
  module/cmn_cyprus/include/internal/cmn_cyprus_ctx.h
  module/cmn_cyprus/src/mod_cmn_cyprus.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: add support for CML protocol credit exchange
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/cmn_cyprus: add support for CPA in HN-F SAM and CCGs
  module/cmn_cyprus/include/internal/cmn_cyprus_hns_reg.h
  module/cmn_cyprus/include/internal/cmn_cyprus_reg.h
  module/cmn_cyprus/include/mod_cmn_cyprus.h
  module/cmn_cyprus/src/cmn_cyprus_cml_setup.c
  module/cmn_cyprus/src/cmn_cyprus_hns_reg.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/power_domain: Send system suspend notification
  module/power_domain/include/internal/power_domain.h
  module/power_domain/include/mod_power_domain.h
  module/power_domain/src/mod_power_domain.c
  module/power_domain/test/CMakeLists.txt
  module/power_domain/test/config_power_domain.h
  module/power_domain/test/mocks/Mockmod_power_domain_extra.c
  module/power_domain/test/mocks/Mockmod_power_domain_extra.h
  module/power_domain/test/mod_power_domain_extra.h
  module/power_domain/test/mod_power_domain_state_checks_unit_test.c
  module/power_domain/test/mod_power_domain_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/scmi_perf: Error handling added for fast channel functions
  module/scmi_perf/src/scmi_perf_fastchannels.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/fch_polled: Fix a MISRA violation
  module/fch_polled/src/mod_fch_polled.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

product/tc2: Update fast channel config to use transport fc
  module/scmi_perf/include/mod_scmi_perf.h
  module/scmi_perf/test/include/config_fch.h
  product/totalcompute/common/include/tc_scmi.h
  product/totalcompute/common/scp_ramfw/config_transport.c
  product/totalcompute/tc2/scp_ramfw/Buildoptions.cmake
  product/totalcompute/tc2/scp_ramfw/CMakeLists.txt
  product/totalcompute/tc2/scp_ramfw/config_fch_polled.c
  product/totalcompute/tc2/scp_ramfw/config_scmi_perf.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com, tintu.thomas@arm.com, quockhanh.le@arm.com

module/scmi_perf: Implement per-domain fast-channels
  module/scmi_perf/include/mod_scmi_perf.h
  module/scmi_perf/src/scmi_perf_fastchannels.c
  module/scmi_perf/test/fastchannels/config_scmi_perf.h
  module/scmi_perf/test/fastchannels/mod_scmi_perf_fch_unit_test.c
  module/scmi_perf/test/protocol/config_scmi_perf.h
  module/scmi_perf/test/protocol/mod_scmi_perf_protocol_ops_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

product/rdv1: Update fast channel config to use transport fc
  product/neoverse-rd/rdv1/include/platform_scmi.h
  product/neoverse-rd/rdv1/scp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdv1/scp_ramfw/Firmware.cmake
  product/neoverse-rd/rdv1/scp_ramfw/config_fch_polled.c
  product/neoverse-rd/rdv1/scp_ramfw/config_scmi_perf.c
  product/neoverse-rd/rdv1/scp_ramfw/config_transport.c
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

product/juno: Update fast channel config to use transport fc
  product/juno/include/juno_scmi.h
  product/juno/scp_ramfw/Buildoptions.cmake
  product/juno/scp_ramfw/CMakeLists.txt
  product/juno/scp_ramfw/config_fch_polled.c
  product/juno/scp_ramfw/config_scmi_perf.c
  product/juno/scp_ramfw/config_transport.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

product/rdv1mc: Update fast channel config to use transport fc
  product/neoverse-rd/rdv1mc/include/platform_scmi.h
  product/neoverse-rd/rdv1mc/scp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdv1mc/scp_ramfw/Firmware.cmake
  product/neoverse-rd/rdv1mc/scp_ramfw/config_fch_polled.c
  product/neoverse-rd/rdv1mc/scp_ramfw/config_scmi_perf.c
  product/neoverse-rd/rdv1mc/scp_ramfw/config_transport.c
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

product/rdn2: Update fast channel config to use transport fc
  product/neoverse-rd/rdn2/include/platform_scmi.h
  product/neoverse-rd/rdn2/scp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdn2/scp_ramfw/Firmware.cmake
  product/neoverse-rd/rdn2/scp_ramfw/config_fch_polled.c
  product/neoverse-rd/rdn2/scp_ramfw/config_scmi_perf.c
  product/neoverse-rd/rdn2/scp_ramfw/config_transport.c
Owners: thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com

module/scmi_perf: Remove previous implementation of fast channels
  module/fch_polled/CMakeLists.txt
  module/scmi_perf/include/internal/scmi_perf.h
  module/scmi_perf/include/mod_scmi_perf.h
  module/scmi_perf/src/mod_scmi_perf.c
  module/scmi_perf/src/scmi_perf_fastchannels.c
  module/scmi_perf/test/CMakeLists.txt
  module/scmi_perf/test/fastchannels/config_scmi_perf.h
  module/scmi_perf/test/fastchannels/mod_scmi_perf_fch.cmake
  module/scmi_perf/test/fastchannels/mod_scmi_perf_fch_unit_test.c
  module/scmi_perf/test/module/config_scmi_perf.h
  module/scmi_perf/test/plugins_handler/config_scmi_perf.h
  module/scmi_perf/test/plugins_handler/mod_scmi_perf_ph.cmake
  module/scmi_perf/test/protocol/config_scmi_perf.h
  module/scmi_perf/test/protocol/mod_scmi_perf_protocol_ops.cmake
  module/scmi_perf/test/protocol/mod_scmi_perf_protocol_ops_unit_test.c
  product/juno/include/juno_scmi.h
  product/juno/scp_ramfw/Buildoptions.cmake
  product/juno/scp_ramfw/CMakeLists.txt
  product/juno/scp_ramfw/config_scmi_perf.c
  product/neoverse-rd/rdn2/include/platform_scmi.h
  product/neoverse-rd/rdn2/scp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdn2/scp_ramfw/Firmware.cmake
  product/neoverse-rd/rdn2/scp_ramfw/config_scmi_perf.c
  product/neoverse-rd/rdv1/scp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdv1/scp_ramfw/Firmware.cmake
  product/neoverse-rd/rdv1/scp_ramfw/config_scmi_perf.c
  product/neoverse-rd/rdv1mc/include/platform_scmi.h
  product/neoverse-rd/rdv1mc/scp_ramfw/CMakeLists.txt
  product/neoverse-rd/rdv1mc/scp_ramfw/Firmware.cmake
  product/neoverse-rd/rdv1mc/scp_ramfw/config_scmi_perf.c
  product/totalcompute/tc2/scp_ramfw/Buildoptions.cmake
  product/totalcompute/tc2/scp_ramfw/CMakeLists.txt
  product/totalcompute/tc2/scp_ramfw/config_scmi_perf.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com, thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com, tintu.thomas@arm.com, quockhanh.le@arm.com

product/tc2: Fix FW init error for TC2_VAR_EXPERIMENT_POWER build
  product/totalcompute/tc2/scp_ramfw/CMakeLists.txt
  product/totalcompute/tc2/scp_ramfw/Firmware.cmake
Owners: tintu.thomas@arm.com, quockhanh.le@arm.com

module/scmi_perf: Remove fast channel SCP and AP address.
  module/scmi_perf/include/mod_scmi_perf.h
  module/scmi_perf/test/fastchannels/config_scmi_perf.h
  module/scmi_perf/test/protocol/config_scmi_perf.h
  product/optee/optee-fvp/fw/config_scmi_perf.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com, vincent.guittot@linaro.org, etienne.carriere@st.com

module/scmi_perf: Remove fast channel alarm id from scmi perf config.
  module/scmi_perf/include/mod_scmi_perf.h
  module/scmi_perf/test/module/config_scmi_perf.h
  product/juno/scp_ramfw/config_scmi_perf.c
  product/morello/scp_ramfw_fvp/config_scmi_perf.c
  product/neoverse-rd/rdn1e1/scp_ramfw/config_scmi_perf.c
  product/neoverse-rd/rdn2/scp_ramfw/config_scmi_perf.c
  product/neoverse-rd/rdv1/scp_ramfw/config_scmi_perf.c
  product/neoverse-rd/rdv1mc/scp_ramfw/config_scmi_perf.c
  product/neoverse-rd/sgi575/scp_ramfw/config_scmi_perf.c
  product/optee/optee-fvp/fw/config_scmi_perf.c
  product/sgm775/scp_ramfw/config_scmi_perf.c
  product/sgm776/scp_ramfw/config_scmi_perf.c
  product/tc0/scp_ramfw/config_scmi_perf.c
  product/totalcompute/tc1/scp_ramfw/config_scmi_perf.c
  product/totalcompute/tc2/scp_ramfw/config_scmi_perf.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com, deepak.pandey@arm.com, chandni.cherukuri@arm.com, thomas.abraham@arm.com, vijayenthiran.subramaniam@arm.com, vincent.guittot@linaro.org, etienne.carriere@st.com, tintu.thomas@arm.com, quockhanh.le@arm.com

optee: Add optee-os makefile
  product/optee/optee-fvp/sub-optee-fvp.mk
  product/optee/optee-stm32mp1/sub-optee-stm32mp1.mk
  product/optee/sub.mk
Owners: vincent.guittot@linaro.org, etienne.carriere@st.com

product: optee: declare CFG_SCPFW_MOD_xxx CMake directives
  arch/none/optee/CMakeLists.txt
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

product: optee-stm32mp1: may embed MSG_SMT
  product/optee/common/module/mbx/include/mod_optee_mbx.h
  product/optee/optee-stm32mp1/fw/Firmware.cmake
  product/optee/optee-stm32mp1/fw/config_mbx_smt.c
  product/optee/optee-stm32mp1/fw/config_scmi.c
Owners: vincent.guittot@linaro.org, etienne.carriere@st.com

product: optee-stm32mp1: stm32_pmic_regu: include stdbool.h, not stdint.h
  product/optee/optee-stm32mp1/module/stm32_pmic_regu/include/mod_stm32_pmic_regu.h
Owners: vincent.guittot@linaro.org, etienne.carriere@st.com

core: lib: scmi-server: add CMake defines for embedded modules
  product/optee/sub.mk
Owners: vincent.guittot@linaro.org, etienne.carriere@st.com

product: optee: fvp: Fix mailbox size of msg_smt module
  product/optee/fvp/fw/config_mbx_smt.c
Owners: vincent.guittot@linaro.org, etienne.carriere@st.com

product: optee: stm32mp1: sync mailbox size with Linux expectation
  product/optee/stm32mp1/fw/config_mbx_smt.c
Owners: vincent.guittot@linaro.org, etienne.carriere@st.com

tools: Add .mk files in check_spacing.py
  tools/check_spacing.py
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

smcf: Add monitor enable and disable api
  module/smcf/include/mod_smcf.h
  module/smcf/src/mod_smcf.c
  module/smcf/test/module/interface_unit_test.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci: Refine ci_cmake.py
  Jenkinsfile
  requirements.txt
  tools/ci.py
  tools/ci_cmake.py
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/workflow: add rules to run pipelines
  .gitlab/.gitlab-ci.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/smcf: do not bind on module bind round
  module/smcf/src/mod_smcf.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

module/smcf: Fix build issues
  module/smcf/CMakeLists.txt
  module/smcf/src/mgi.c
  module/smcf/src/mod_smcf.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

ci/platform-test: add platform boot tests
  .gitlab/pipelines/daily-pipeline.yml
  .gitlab/pipelines/deployment-pipeline.yml
  .gitlab/templates/platform-test.yml
  .gitlab/templates/setup-workspace.yml
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

requirements.txt: update python module requirements file
  requirements.txt
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

interface/power_management: Add a power management generic interface
  interface/power_management/interface_power_management.h
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

product/morello: Resolve defect with cppcheck V2.8
  product/morello/module/dmc_bing/src/dimm_spd.c
  product/morello/module/dmc_bing/src/morello_ddr_phy.c
Owners: deepak.pandey@arm.com, chandni.cherukuri@arm.com

product/juno: Resolve defect with cppcheck V2.8
  product/juno/module/juno_cdcel937/src/juno_cdcel937.h
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

product/n1sdp: Resolve defect with cppcheck V2.8
  product/n1sdp/module/n1sdp_ddr_phy/src/mod_n1sdp_ddr_phy.c
  product/n1sdp/module/n1sdp_dmc620/src/dimm_spd.c
  product/n1sdp/module/n1sdp_pcie/src/n1sdp_pcie.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com

product/rcar: Resolve defect with cppcheck V2.8
  product/rcar/module/rcar_reg_sensor/src/mod_rcar_reg_sensor.c
  product/rcar/module/rcar_system/src/FreeRTOS_tick_config.c
Owners: nroyer@baylibre.com

module: Resolve defect with cppcheck V2.8
  module/cmn_cyprus/include/internal/cmn_cyprus_hns_reg.h
  module/cmn_cyprus/src/cmn_cyprus_hns_reg.c
  module/cmn_cyprus/src/cmn_cyprus_rnsam_setup.c
  module/dw_apb_i2c/src/mod_dw_apb_i2c.c
  module/resource_perms/src/mod_resource_perms.c
  module/scmi_clock/src/mod_scmi_clock.c
  module/system_power/src/mod_system_power.c
  module/thermal_mgmt/src/power_allocation.c
  module/thermal_mgmt/src/thermal_mgmt.h
  module/thermal_mgmt/test/mocks/Mockmod_thermal_mgmt_extra.c
  module/thermal_mgmt/test/mocks/Mockmod_thermal_mgmt_extra.h
  module/thermal_mgmt/test/mod_thermal_mgmt_extra.h
  module/transport/src/mod_transport.c
Owners: tarek.el-sherbiny@arm.com, girish.pathak@arm.com, leandro.belli@arm.com, ahmed.gadallah@arm.com, mohamed.omarasaker@arm.com, wenping.teh@arm.com
